.mainHeader {
	height: 8rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f48024;
}

.searchForm {
	display: flex;
	align-items: center;
}

.searchForm input {
	padding: 1rem;
	width: 50rem;
	max-width: 100%;
	font-size: 1.6rem;
	outline: none;
	border: none;
	transition: all 0.3s;
}

.searchForm input:focus {
	border-radius: 11px;
}

.mainHeader button {
	border: none;
	background-color: none;
	height: 4rem;
	width: 4rem;
	background: white;
	color: #f48024;
	border-radius: 50%;
	margin-left: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s;
}

.mainHeader button:hover {
	background-color: #f48024;
	color: white;
}

.searchForm--icon {
	height: 2.4rem;
	width: 2.4rem;
}

.mainHeader .btn--toggleList {
	display: none;
}

@media only screen and (max-width: 45.625rem) {
	.mainHeader .btn--toggleList {
		display: block;
	}
}

@media only screen and (max-width: 37.5rem) {
	.searchForm input {
		width: 25rem;
	}
}
